# ProcessWire
/site/assets/cache/*
!/site/assets/cache/.gitkeep

/site/assets/files/*
!/site/assets/files/.gitkeep

/site/assets/logs/*
!/site/assets/logs/.gitkeep

/site/assets/sessions/*
!/site/assets/sessions/.gitkeep

.DS_Store
